.genres-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* border-bottom: 1px solid #ddd; */
}

.genres-container .genre {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.genres-container .genre:hover {
  background-color: #ddd;
}

.movies-container .movies-header,
.results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.movie .title,
.movies-header .header-lg {
  flex: 1 0 50%;
}

.movies-header .header,
.movie .rating,
.movie .votes {
  flex: 1 0 25%;
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fc6c3c 51%,
    #f6d365 100%
  );
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn-1:hover {
  background-position: right center; /* change the direction of the change here */
}

.form-inline {
  margin-bottom: 20px;
}

.search-filters {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

thead {
  background-color: #ff843c;
  color: white;
}

.jumbotron {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  size: 40px;
}

.jumbotron-heading {
  margin-right: 20px;
  display: inline;
}
